<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org"
		xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
	<title th:text="${title}"></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/style.css" />
</head>

<body>

<img src="/images/Logo.png">

	<nav th:fragment="nav">
		<img src="/images/Logo.png" width="300"/>

		<ul>
		<li><a href="/">Liste des Articles</a></li>
		<li sec:authorize="hasRole('admin')"><a href="/admin/profil">Mon Profil</a></li>
		<li sec:authorize="hasRole('admin')"><a href="/admin/vendre">Vendre</a></li>
		<li><a href="/creationProfil">Création Profil</a></li>
		</ul>

		
		<!-- Section avec les liens de COnnexion/Deconnexion en fonction du statut -->
		
		<!-- on n'affiche cette section que pour les utilisateurs connectés -->
		<section sec:authorize="isAuthenticated()">
			<!-- ${#authentication.name}" : recupère le username de l'utilisateur connecté-->
		<!--	<span th:text="|Vous êtes connecté avec l'utilisateur : ${#authentication.name}|"></span> -->
			<!-- on offre la possibilité de se déconnecter -->
			<form th:action="@{/logout}" method="post">
				<button>Se déconnecter</button>
			</form>
		</section>
		<!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
		<section sec:authorize="!isAuthenticated()">
			<span>Vous n'êtes pas connecté :</span>
			<!-- on offre la possibilité de se connecter -->
			<a th:href="@{/login}">Se connecter</a>
		</section>
	</nav>
	
	<section th:fragment="messages">
		<p class="confirmation" th:text="${confirmation}"></p>
		<p class="error" th:text="${erreur}"></p>
	</section>
</body>

</html>