nav{
	display: flex;
	align-items: center;
}

nav li{
	display: inline-block;
	margin: 20px;
}

nav section{
	display: flex;
    align-items: center;	
}

nav section form{
	margin: 0;
}


nav section button{
	font-size: 14px;
	padding: 5px;	
}


form .form-element{
	margin-bottom: 10px;
}

form .form-element label {
	display : inline-block;
	width : 100px;
	text-align: right;
}

form  button{
	border : none;
	padding : 7px;
	font-size : 16px;
	background-color: #FE4C40;
	color: white;
	margin-left: 100px;
} 

.confirmation{
	color : #FE4C40;
}

.commentaire{
	padding : 10px;
	background-color: #FF9999;
	font-style: italic;
	width: fit-content;
	margin-top: 5px;
}

.checkbox{
	color : #FE4C40;
	text-align: center;
	font-weight: 800;
}

.error{
	color : red;
}

.table{
	border-collapse: collapse;

}

.table thead tr{
	background-color: #FE4C40;
	color: white;
}

.table td, .table th{
	border: 1px solid black;
	padding: 5px;
}

.col-sm-3 {
	display: grid;
	grid-template-columns: 5fr 1fr;
	float: none;
	margin: 5rem;
}


img {
	width : 220px;
	height : 190px;
}

.card-body {
	border: solid #FE4C40;
	background-color: #FCF8E8;
}

.navbar-custom{
	background-color: #FCF8E8;
	border-bottom: solid #FE4C40;
}

.titre {
	font-family: "Book Antiqua";
	font-size: 5rem;
	color: #FE4C40;
	text-align: center;
	margin-bottom: 5rem;
	margin-top: 5rem;
}

.barre {
	margin-left: 40rem;
	margin-bottom: 5rem;
}