<html
		xmlns:th="http://www.thymeleaf.org">

<!-- je vais remplacer le contenu de ma balise avec celui de la balise head de mon template : fragments/template.html -->

<head th:replace="fragments/template :: head('Affichage des articles')">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
</head>

<body class="body">
<!-- je vais remplacer le contenu de ma balise avec celui de la balise head de mon template : fragments/template.html -->
<nav th:replace="fragments/template :: nav"></nav>

<!-- section pour afficher les messages de succès ou d'erreur -->
<section th:replace="fragments/template :: messages"></section>

<h1 class="titre">ARTICLES A VENDRE</h1>

<form class="barre" th:action="@{/}">
	Rechercher: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
	&nbsp;
	<input type="submit" value="Search" />
	&nbsp;
	<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	<script type="text/javascript">
		function clearSearch() {
			window.location = "[[@{/}]]";
		}
	</script>
</form>



<div class="row" th:fragment="list">
	<div th:each="article : ${listeArticles}" class="col-sm-3">
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title" th:text="${article.titre}"></h5>
				<img th:src="|images/${article.photos}|" />


				<table class="table">
					<thead>

					<tr>
						<td class="information">Date de publication :</td>
						<td class="article" th:text="${article.datePublication}"></td>
					</tr>

					<tr>
						<td class="information">Article :</td>
						<td class="article" th:text="${article.titre}"></td>
					</tr>

					<tr>
						<td class="information">Genre :</td>
						<td class="article" th:text="${article.genre}"></td>
					</tr>

					<tr>
						<td class="information">Catégorie :</td>
						<td class="article" th:text="${article.categorie}"></td>
					</tr>

					<tr>
						<td class="information">Description :</td>
						<td class="article" th:text="${article.description}"></td>
					</tr>

					<tr>
						<td class="information">Etat :</td>
						<td class="article" th:text="${article.etat}"></td>
					</tr>

					<tr>
						<td class="information">Prix :</td>
						<td class="article" th:text="|${article.prix} €|">
						</td>
					</tr>

					<tr>
						<td class="information">Membre :</td>
						<td><a th:href="|avisMembre?pseudo=${membre.pseudo}|" th:each="membre : ${article.membres}" th:text="${membre.pseudo}" class="btn btn-outline-danger"></a></td>
					</tr>


					</thead>
				</table>

				<button>BUY NOW</button>

			</div>
		</div>
	</div>
</div>

</body>

</html>