<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/template :: head('Affichage des profil')">

    <nav th:replace="fragments/template :: nav"></nav>

</head>

<body>


<section th:replace="fragments/template :: messages"></section>

<h1>Création du profil :</h1>

<div class="container">
    <form th:action="@{/creationProfil}" method="post" th:object="${membres}">

        <section class="element-membre">
            <label for="pseudo">Veuillez saisir votre pseudo</label>
            <input type="text" th:field="*{pseudo}" id="pseudo">
        </section>

        <section class="element-membre">
            <label for="password">Veuillez saisir votre mot de passe</label>
            <input type="password" th:field="*{password}" id="password">
        </section>


        <section class="element-membre">
            <label for="admin">Voulez-vous être membre pour 10€/mois ?</label>
            <input type="checkbox" th:field="*{admin}" id="admin">
        </section>

        <button type="submit" class="btn btn-primary">Création du profil</button>
    </form>

    </tbody>
</div>

</body>
</html>