<html>
<!-- je vais remplacer le contenu de ma balise avec celui de la balise head de mon template : fragments/template.html -->

<head th:replace="fragments/template :: head('Gestion des membres')"></head>

<body>
	<!-- je vais remplacer le contenu de ma balise avec celui de la balise head de mon template : fragments/template.html -->
	<nav th:replace="fragments/template :: nav"></nav>

	<!-- section pour afficher les messages de succès ou d'erreur -->
	<section th:replace="fragments/template :: messages"></section>

	<h1>Mon Profil</h1>



	<table class="table">
		<thead>
			<tr>
				<th>Pseudo</th>
			</tr>
		</thead>
		<tbody>
				<td th:text="${membre.pseudo}"></td>
			</tr>
		</tbody>
	</table>

	<div th:if="${membre.listeArticles}">
		<h2>Liste de mes articles</h2>

		<ul>
			<li th:each="article : ${membre.listeArticles}" th:text="${article.titre}"></li>
		</ul>

	</div>

	<div th:if="${membre.listeAvis}">
		<h2>Liste de mes avis</h2>

		<ul>
			<li th:each="avis : ${membre.listeAvis}">
				<span th:text="|${avis.auteur.pseudo} a donné la note de ${avis.note}/5 et a commenté : |"></span>
				<p class="commentaire" th:text="${avis.commentaire}"></p>
			</li>
		</ul>
	</div>




</body>



</html>